<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Gelf name="Graylog" server="localhost" port="12201">
            <Field name="facility" literal="Java Application"/>
            <Field name="additionalField" value="additionalValue"/>
            <Field name="environment" literal="dev"/>
        </Gelf>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Graylog"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>